<div class="row justify-content-center">
    <h1 class="text-center">Ingresá el producto nuevo</h1>
</div>


<div class="row mt-5 justify-content-center">
    <div class="col-6 mt-3">
        <form id="addProductForm">
            <div class="mb-3">
                <label for="title" class="form-label">Nombre del producto</label>
                <input class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Precio</label>
                <input type="number" class="form-control" id="price" name="price">
            </div>
            <div class="mb-3">
                <label for="thumbnail" class="form-label">Url de la imagen</label>
                <input class="form-control" id="thumbnail" name="thumbnail">
            </div>
            <button class="btn btn-primary w-100 mt-2 rounded-0">Enviar</button>
        </form>
    </div>
</div>