<nav class="navbar bg-dark">
    <div class="container-fluid">
        <div class="col-12 d-flex justify-content-end px-3 py-3 align-items-center">
            <h4 class="text-light me-4 fs-5">{{mail}}</h4>
            <form action="/log/out" method="post">
                <button class="text-center btn btn-danger" type="submit">Cerrar sesión</button>
            </form>
        </div>
    </div>
</nav>