<div class="row justify-content-center pt-3">
    <h2 class="text-center text-light">Centro de mensajes</h2>
</div>
<div class="row justify-content-center overflow-auto mt-3 pb-3" style="height: 40vh;" id="chat"></div>
<div class="row justify-content-center pb-5 text-light">
    <div class="col-8">
        <form id="newMessageForm">
            <div class="pb-3">
                <label for="exampleFormControlInput1" class="form-label rounded-0">Ingres치 tu direcci칩n de correo electr칩nico *</label>
                <input type="email" class="form-control rounded-0" id="exampleFormControlInput1" required>
            </div>
            <div>
                <label for="exampleFormControlTextarea1" class="form-label rounded-0">Ingres치 tu mensaje *</label>
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>
            <button class="btn btn-secondary mt-3 rounded-0 w-100" id="sendMsj">Enviar</button>
        </form>
    </div>
</div>